@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    position: relative;
}
.container{
    width: auto;
    height: auto;
    margin: auto;
    /*background: transparent;*/
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.title{
    margin: auto;
    width: 600px;
    height: 50px;
    border: 2px solid;
    border-radius: 15px;
    background: #5d5b5b;
    /*box-shadow:  11px 11px 22px #9f9f9f,
                -11px -11px 22px #ffffff;*/
    justify-content: center; 
    text-align: left;
    padding: 1% 5%;
    font-size: 20px;
    color: whitesmoke;
}
.box
{   
    margin: auto;
    width: 600px;
    height: auto;
    border: 2px solid;
    border-radius: 30px;
    background: #e0e0e0;
    /*box-shadow:  11px 11px 22px #9f9f9f,
                -11px -11px 22px #ffffff;*/
    justify-content: center; 
    text-align: left;
}
.titlep1{
    top: 5%;
}
.boxp1{
    top: 2%;
}
.boxp2{
    top: 7%;
}
.code{
    padding: 2% 5%;
}
.uline{
    text-decoration: underline;
}

